<section id="section-forms">
    <div class="container center">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="heading">
                    <h2 class="heading__title">New Patient Forms</h2>
                </div>
                <h3 class="forms__byline">Fill out the forms below to save time on your first visit.</h3>
                <div class="forms__btn-wrapper">
                    <a href="/assets/registration.pdf" target="_blank" class="btn btn--style-three">Patient Registration Packet</a>
                    <a href="/assets/recordsRelease.pdf" target="_blank" class="btn btn--style-three">Dental Records Release</a>
                </div>
                <p class="forms__copy">Adobe Acrobat is required to view forms. If you have trouble seeing the forms or need accommodation, please contact our office. <a href="https://get.adobe.com/reader/" target="_blank" class="acrobat">Click here to download the Acrobat Acrobat® software.</a></p>
            </div>
        </div>
    </div>
</section>
