<section id="section-learn-more">

    <div class="container">
        <div class="row center">
            <h2 class="learn-more__title">
                Learn More About Us
            </h2>
            <div class="col-sm-8 col-sm-push-2">
                <p class="learn-more__byline">
                    Drs. Michael and Errin DePalma are passionate about improving your health, and that starts with excellent dental care. Watch the videos below&nbsp;to&nbsp;learn&nbsp;more&nbsp;about&nbsp;us.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="mobilePadding">
                    <iframe src="https://player.vimeo.com/video/230809482" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mobilePadding">
                    <iframe src="https://player.vimeo.com/video/230807313" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mobilePadding">
                    <iframe src="https://player.vimeo.com/video/230808012" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                </div>
            </div>
        </div>
    </div>

</section>
