<section id="section-tour" class="tour">

    <div class="container">
        <div class="heading center">
            <h2 class="heading__title">Office Tour</h2>
            <p class="heading__copy">Visit our clean, modern, relaxing location and discover <br> the&nbsp;DePalma&nbsp;Dental&nbsp;difference.</p>
        </div>
    </div>


        <div class="container">
            {% include 'molecules/tour__carousel.twig' %}
        </div>

</section>