a.btn,
button.btn {
  font-family: $ff-work;
  background-color: #ff843d;
  color: #fff;
  border-radius: 16px;
  border: solid 3px #fff;
  padding: 10px 30px;
  font-style: normal;

  @media (min-width: 768px) {
    padding: 10px 50px;
  }

  @include font-size(17px, 16px, 16px, 15px, 15px);

  &:hover,
  &:focus {
    background-color: lighten(#ffa300, 10%);
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  &.btn--style-two {
    background: none;
    background-color: #fff;
    color: #374a8a;
    border: solid 2px #374a8a;
    font-family: $ff-work;

    @include font-size(16px, 16px, 15px, 14px, 13px);

    &:hover,
    &:focus {
      background-color: lighten(#374a8a, 45%);
    }
  }

  &.btn--style-three {
    background-image: none;
    background-color: #fff;
    color: #609b1b;
    border-color: #609b1b;

    @include font-size(16px, 16px, 14px, 14px, 14px);

    &:hover,
    &:focus {
      background-color: lighten(#609b1b, 55%);
    }
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &.form-btn {
    width: 100%;
  }
}
