<div class="section-care-credit-slab">
    <div class="container">
        <h3 class="care-credit-slab__title">Patient Financing Options</h3>
        <p class="care-credit-slab__copy">We offer CareCredit® financing to help our patients <br> get the dental care they need.</p>
        <a href="https://www.carecredit.com/" target="_blank"><img src="/assets/care-credit-footer.png" alt="Care Credit" class="care-credit-slab__logo"></a>
        
        <a href="https://www.carecredit.com/" target="_blank" class="btn btn--style-three care-credit-slab__btn">Click to Apply</a>
    </div>
</div>