<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/1.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/2.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/3.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/4.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/5.jpg" alt="Reception desk">
    </div>
    <div>
        <img src="/assets/tour/6.jpg" alt="Outside the office">
    </div>
    <div>
        <img src="/assets/tour/7.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/8.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/9.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/10.jpg" alt="The inside of our rooms">
    </div>
</div>