#section-about {
  background-image: none;

  .about {
    &__title {
      margin-bottom: 0;
      color: #374a8a;
      padding-top: 30px;

      @media (min-width: 991px) {
        padding-top: 50px;
      }
    }

    &__byline {
      font-style: italic;
      margin-bottom: 0;

      @include font-size(26px, 18px, 16px, 18px, 16px);
    }
  }

  .imgMargin {
    margin: 40px 0;
  }

  .alignCenter {
    display: flex;
    align-items: center;
  }

  .about__doctor {
    color: #609b1b;
    font-weight: 900;
    line-height: 1;

    &--one {
      background-color: #f7f7f7;
    }

    &-two {
      text-align: center;
      margin-bottom: 0;
      color: #609b1b;
      font-weight: 900;
    }

    &--title {
      color: #919499;
      margin-bottom: 0;
      font-family: $ff-work;

      &-two {
        text-align: center;
        color: #919499;
        margin-bottom: 0;
        font-family: $ff-work;
      }
    }
  }

  p {
    &.about__copy {
      margin-top: 30px;
      color: #4e4e4e;

      &--last {
        color: #609b1b;
        font-style: italic;
      }
    }
  }

  .btn-link {
    text-decoration: underline !important;
    color: #2a3869 !important;
  }
}
