#section-forms {
  background-color: #f1f4ed;
  padding-top: 5px;

  .heading {
    text-align: center;
    padding-top: 20px;

    &__title {
      color: #609b1b;
      line-height: 1;
      padding-bottom: 0;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }

  .container {
    padding-bottom: 30px;
  }

  .forms {
    &__byline {
      color: #4e4e4e;
      font-style: italic;
      font-family: $ff-droid;
      padding-top: 5px;

      @include font-size(24px, 24px, 24px, 21px, 21px);
    }

    &__copy {
      color: #4e4e4e;
      font-style: italic;
    }

    &__btn-wrapper {
      padding-bottom: 30px;
    }
  }

  .acrobat {
    text-decoration: underline !important;

    @include link-color(#4e4e4e);

    &:hover {
      color: #609b1b;
    }
  }

  .btn {
    margin: 10px 0;
    padding: 10px 20px;
    // width: 270px;
  }

  .line-break {
    display: none;
  }

  @media (min-width: 768px) {
    .btn {
      // width: 360px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .forms__btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .line-break {
      display: inline-block;
      height: 54px;
      width: 1px;
      background: #1a202a;
      line-height: 0;
      margin-bottom: 0;
    }
  }
}
