#section-insurance {
  $c-no-insurance: #2a3869;
  $c-sub-header: #374a8a;
  $c-preventative: #609b1b;
  $c-copy: #4e4e4e;
  $c-mobile-bg: #f1f4ed;

  text-align: left;
  background-color: #f1f4ed;
  // position: relative;
  padding: 50px 0;
  font-style: italic;
  font-family: $ff-droid;

  .alignCenter {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  .title {
    font-family: $ff-work;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1;
    color: $c-no-insurance;
    // padding: 10px 0;
    font-style: normal;

    @include font-size(60px, 56px, 52px, 50px, 40px);
  }

  .sub-title {
    font-weight: 400;
    color: $c-sub-header;
    margin-bottom: 0;
    font-family: $ff-droid;
  }

  .preventative-care {
    font-weight: 400;
    line-height: 1;
    color: $c-preventative;
    letter-spacing: -0.24px;
    padding: 20px 0;
    margin-bottom: 0;
    font-family: $ff-droid;

    @include font-size(37px, 35px, 24px, 30px, 23px);
  }

  .insurance__copy {
    color: $c-copy;
    list-style: none;
    margin-bottom: 10px;
    line-height: 1.2;

    @include font-size(18px, 17px, 16px, 16px, 15px);

    @media (min-width: 768px) {
      text-align: left;
      padding-top: 0;

      &--last {
        margin-bottom: 0;
      }
    }
  }

  .btn {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include lr-padding(80px, 70px, 60px, 60px, 40px);
  }

  //Fix for insurance background on mobile
  .mobile-insurance-fix {
    display: none;
  }
}
