#section-learn-more {
  padding: 30px 0 45px;

  .learn-more {
    &__title {
      margin-bottom: 0;
      color: #374a8a;
    }

    &__byline {
      font-style: italic;
      margin-bottom: 0;
      padding: 10px 20px 30px;
      color: #4e4e4e;
    }
  }

  .mobilePadding {
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}
