#section-location {
  padding-top: 30px;
  padding-bottom: 20px;
}

.location__team {
  border-radius: 16px;
  margin-bottom: 25px;
}

.location.location__two-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .location__map,
  .location__card--wrapper {
    width: 100%;
  }

  .location__map {
    margin-top: 45px;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .location__card--wrapper {
      width: 50%;
    }

    .location__map {
      margin-top: 0;
      width: 50%;
      height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .location__map,
    .location__card--wrapper {
      width: 50%;
    }
  }
}
