#section-marquee {
  position: relative;

  .main {
    background-image: url(/assets/slide/slide1.jpg);
    background-size: cover;

    &__content {
      padding: 30px 0 45px;
    }

    &__image {
      padding-bottom: 20px;
    }

    &__welcoming {
      color: #fff;
      font-family: $ff-droid;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 5px;
      line-height: 1;
      text-shadow: 0 0 12px #417505;

      @include font-size(21px, 21px);
    }

    &__new-patient-number {
      color: #fff;
      font-family: $ff-work;
      font-weight: 800;
      margin-bottom: 10px;
      line-height: 1;
      text-shadow: 0 0 12px #417505;

      @include font-size(38px, 38px);
    }

    &__request-appt {
      margin: 10px 0;
    }

    &__existing-patients,
    &__existing-patients-number {
      color: #fff;
      font-family: $ff-droid;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 5px;
      line-height: 1;
      text-shadow: 0 0 12px #417505;

      @include font-size(19px, 19px);
    }
  }

  .aside {
    background-color: #f7f7f7;
    padding: 30px 0;

    &__copy {
      color: #919499;
      font-family: $ff-droid;
      font-weight: 700;
      font-style: italic;
      line-height: 1.4;

      @include font-size(20px, 20px);
    }
  }

  .doctor-image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 45%;
    max-height: 550px;
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}
