#section-reviews {
  background-image: url('/assets/reviewsBG.jpg');
  background-size: cover;
  padding-bottom: 45px;
  border-bottom: none;
  font-style: italic;

  .heading {
    padding-top: 0;
    text-align: center;
    margin-top: $spacing-md;
    margin-bottom: 0;
    color: #374a8a;
    font-weight: 900;
    letter-spacing: 1.12px;
    line-height: 1.2;
    font-style: normal;

    &__byline {
      font-family: $ff-droid;
      padding-bottom: 20px;
      color: #212a49;

      @include font-size(24px, 18px, 17px, 18px, 16px);
    }
  }

  .review-image {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .row--flexed {
    @media (min-width: 768px) {
      display: flex;

      [id^="bf-revz-widget-"] {
        height: 100%;
      }

      iframe {
        height: 100%;
      }
    }
  }

  .mobile-image img {
    width: 100%;
  }

  @include birdeye-footer(#fff, false);

  .bf-spn {
    font-family: $ff-droid;
  }
}
