#section-services {
  position: relative;
  z-index: 10;

  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .heading {
    text-align: center;

    &__title {
      color: #fff;
      padding-top: $spacing-md;
      margin-bottom: 5px;
      line-height: 1;
    }

    &__copy {
      color: #2c395b;
      font-style: italic;
      margin-bottom: 5px;

      @include font-size(24px, 24px, 22px, 20px, 16px);
    }
  }

  .service-slab {
    padding: 60px 0;

    @media (min-width: 768px) {
      .row {
        display: flex;
        align-items: center;
      }
    }

    &__heading {
      color: #374a8a;
      margin-bottom: 0;
    }

    &__byline {
      font-style: italic;
      margin-bottom: 10px;
      color: #212a49;

      @include font-size(24px, 24px, 22px, 20px, 16px);
    }

    &__copy {
      color: #4e4e4e;
    }

    &__two {
      background-color: #f7f7f7;
    }

    &__img {
      border-radius: 16px;
    }

    &__btn {
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }

      &--two {
        background-color: #f7f7f7;

        &:hover {
          background-color: darken(#f7f7f7, 5%);
        }
      }
    }
  }

  .services-slide {
    position: relative;

    &__text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    &__title {
      color: #374a8a;
      padding-left: 30px;
      margin-bottom: 0;
      line-height: 1.2;
      font-weight: 400;

      @include font-size(71px, 55px, 38px);

      &--family {
        padding-left: 90px;

        @media (min-width: 992px) {
          padding-left: 120px;
        }

        @media (min-width: 1200px) {
          padding-left: 135px;
        }
      }
    }

    &__btn {
      margin: 5px 15px;
    }

    &__copy {
      color: #000;
      padding: 0 30px;
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 15px;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  .services-slide-mobile {
    & > img {
      width: 100%;
    }

    &__text {
      margin: 15px 0 30px;
    }

    &__title {
      color: #374a8a;
      font-family: $ff-dancing;
      padding-left: 30px;
      margin-bottom: 0;
      line-height: 1.2;
      font-weight: 400;

      @include font-size(71px, 55px, 38px, 36px, 32px);

      &--family {
        padding-left: 90px;
      }
    }

    &__btn {
      margin: 15px 15px 5px;
    }

    &__copy {
      color: #000;
      padding: 0 30px;
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 15px;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  .full-width-wrapper {
    position: relative;
  }

  .full-width,
  .owl-carousel {
    position: static !important;
  }

  .services-part-two {
    padding: 15px 0 40px;

    .heading {
      background: none;

      &__title {
        color: #374a8a;
      }
    }
  }

  .services-carousel {
    position: relative;

    &--image {
      img {
        border-radius: 16px;
      }
    }
  }

  .services-carousel__item {
    position: relative;

    .services-carousel__title {
      padding: 10px 15px;
      text-align: center;

      h5 {
        color: #499e00;
        margin-bottom: 5px;
        line-height: 1;

        @include font-size(24px, 22px, 22px, 22px, 21px);
      }

      h6 {
        color: #919499;
        line-height: 1;
        margin-bottom: 0;
      }
    }
  }

  .owl-carousel {
    padding: 5px 30px;
  }
}
