#section-specials {
  background-image: url('/assets/specials.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 70px;

  .specials__title-bg {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-bottom: 15px;
  }

  .heading {
    padding: 10px 0;

    @include font-size(36px, 34px, 34px, 34px, 32px);

    &__title {
      margin-bottom: 5px;
      line-height: 1;
      color: #609b1b;
      padding-top: 15px;
    }

    &__sub-title {
      font-style: italic;
      padding-top: 10px;
    }

    &__byline {
      color: #374a8a;
      font-weight: 700;
      margin-bottom: 1px;
      font-style: italic;
      font-family: $ff-droid;
    }
  }

  .specials__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 991px) {
      flex-direction: column;

      .specials-card {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .specials-card {
    text-align: center;
    width: 33.3%;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    // margin: 5px;
    font-style: italic;
    color: #fff;

    &__new {
      padding-top: 25px;
      margin-bottom: 0;
      font-family: $ff-droid;
      color: #fff;

      @include font-size(24px, 20px, 19px, 20px, 18px);
    }

    &__cost {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -85px;
      margin-left: auto;
      margin-right: auto;
      width: 165px;
      height: 115px;
      font-weight: 700;
      // font-family: $ff-open;
      font-size: 72px;
      font-style: normal;
      color: #fff;

      &::before {
        content: '$';
        position: absolute;
        font-size: 30px;
        left: 30px;
        top: 25px;
        font-weight: 400;
      }
    }

    &__savings {
      margin-top: 5px;
      padding: 60px 0 0;
    }

    &__title {
      color: #fff;
      margin-bottom: 0;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 900;
    }

    &__copy {
      color: #fff;
      line-height: 1.4;
      margin-bottom: 70px;
      font-size: 17px;
      padding: 0 15px;
    }

    &__codes {
      padding-top: 30px;
      color: #fff;
      font-size: 14px;
      // margin-bottom: 65px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:nth-child(1) {
      background-color: rgba(14, 79, 143, 0.6);

      .specials-card__savings {
        color: #fff;
      }

      @media (min-width: 992px) {
        margin-left: -15px;
      }
    }

    &:nth-child(2) {
      background-color: rgba(69, 116, 10, 0.6);

      .specials-card__savings {
        color: #fff;
      }

      @media (min-width: 992px) {
        margin: 0 20px;
      }
    }

    &:nth-child(3) {
      background-color: rgba(4, 18, 71, 0.6);

      .specials-card__savings {
        color: #fff;
      }

      @media (min-width: 992px) {
        margin-right: -15px;
      }
    }
  }
}
