.tour {
  background-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 65px;
  position: relative;

  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .heading {
    margin-bottom: 25px;

    &__title {
      font-family: $ff-work;
      color: #374a8a;
      margin-bottom: 5px;
    }

    &__copy {
      font-family: $ff-droid;
      color: #4e4e4e;
      font-style: italic;
    }
  }

  .owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  img {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
  }

  .owl-item {
    padding: 0  40px;
  }
}
